/* head{
    background-color: antiquewhite;
}
body{
    background-color: azure;
}
div{
    
    color: blue;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 0, 21);
}
 */
/* 
 box{
    background-color: aliceblue;
    
 } */
 /* body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(153, 155, 234);
 }
 .card{
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    text-align: center;
 } */
 /* div {
    align:center;
    align-items: center;
    background-color: aliceblue;
  width: 300px;
  border: 15px solid rgb(14, 78, 14);
  padding: 50px;
  margin: 20px;
} */

/* div{
    padding: 15px;
    border: 2px solid rgb(19, 137, 196);
    background-color: color(display-p2 1 0 0/.4);
} */

/* p{
    padding: 15px;
    border: 2px solid rgb(15, 76, 199);
    background-color: color(display-p2 1.6 1.6 0/0.3);
} */

p{
    padding: 15px;
    border: 2px dashed rgb(15, 76, 199);
    background-color: rgba(208, 255, 0, 0.559);
    margin: 2px;
}

div{
    display: flex;
    flex-direction:column;
    margin : 2px;
}



