{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "firefox": "60",
          "chrome": "80",
          "ie": "11",
          "safari": "11.1",
          "edge": "17",
          "opera": "54"
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
}
